<div class="row">
  <div class="col-12">
    <ul class="list-unstyled">
      <li class="media">
      <%= image_tag list.thumbnail, class: 'thumbnail mr-1' %>
        <div class="media-body">
          <h5 class="mt-0 mb-1"><%= link_to list.name, list %> (<%= list.movies.size %>)</h5>
            <%= list.description %>
        </div>

        <div class="dropdown">
          <button class="fa dropdown-toggle btn btn-info iconbtn mr-2" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= "\uf044" %>
          </button>
            <div class="dropdown-menu dropdown-menu-right p-2" aria-labelledby="navbarDropdownMenuLink">
              <%= form_for list do |f| %>
                <%= f.text_field :name, placeholder: '名前' %>
                <%= f.text_field :description, placeholder: '概要' %>
                <%= f.submit '更新', method: :patch, class: 'btn btn-info' %>
              <% end %>
            </div>
        </div>
          <%= link_to "\uf2ed", list, method: :delete, class: 'far btn btn-danger iconbtn' %>
      </li>
    </ul>
  </div>
</div>