<div class="register-flash"></div>

<div class="container">
  <div class="row">
    <div class="col">
      <h2><%= @list.name %></h2>
      <p class="h6 text-muted"><i><%= @list.description %></i></p>
    </div>
  </div>

  <div class="row my-1">
    <div class="col text-right">
      <%= render "filter_#{@filter_mode}" %>
      <div class="dropdown", style="display: inline-block">
        <button class="fa dropdown-toggle btn btn-primary" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= "#{@sort_name}" %>
        </button>
        <div class="dropdown-menu dropdown-menu-sm dropdown-menu-right p-2" aria-labelledby="navbarDropdownMenuLink">
          <%= link_to '登録順', @params.merge(sort_by: :created_at), class: "dropdown-item" %>
          <%= link_to 'タイトル順', @params.merge(sort_by: :title), class: "dropdown-item" %>
          <%= link_to '公開日順', @params.merge(sort_by: :release_date), class: "dropdown-item" %>
        </div>
      </div>
      <%= render "direction_#{@direction_name}" %>
    </div>
  </div>

  <% @movies.each do |movie| %>
    <div id="movie-<%= movie.id %>" class="card mb-3 w-100">
      <div class="row no-gutters">
        <div class="col-4">
          <%= image_tag movie.resized_poster(780), class: 'card-img' %>
        </div>
        <div class="col-8">
          <div class="card-body">
            <h4 class="card-title"><%= movie.title %></h4>
            <span class="card-text"><small><%= movie.release_date %>　公開</small></span>
            <p class="card-text"><em><%= movie.description %></em></p>
            <div class="text-right" style="<%= @delete_btn %>">
              <%= link_to "\uf00c", movie, method: :patch, remote: true, id: "check-#{movie.check?}", class: 'fa btn w-50' %>
              <%= link_to "\uf2ed", movie, method: :delete, remote: true, class: 'fa btn btn-danger' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <%= paginate @movies %>
</div>