<div class>
  <%= image_tag "#{@user.get_bigger_image}" %>
  <%= @user.name %>
  <ul>
    <li>リスト数: <%= @user.lists.size %></li>
    <li>観た映画: <%= @user.movies.size %></li>
  </ul>
  <p>
    <%= @user.name %>さんのリスト
    <%= form_for :list, url: lists_path do |f| %>
      <%= f.label '新規リスト作成' %>
      <%= f.text_field :name, class: 'form-control', placeholder: '名前' %>
      <%= f.text_field :description, class: 'form-control', placeholder: '概要' %>
      <%= f.submit '作成', class: "btn btn-primary" %>
    <% end %>
  </p>
  <ul>
    <% @user.lists.each do |item| %>
      <li><%= link_to item.name, item %> (<%= item.movies.size %>)</li>
    <% end %>
  </ul>
</div>