<div class="container">
  <div class="row mb-3">
    <%= form_for :list, url: lists_path, html: { class: 'form-inline col-12' } do |f| %>
      <%= f.text_field :name, placeholder: '名前' %>
      <%= f.text_field :description, class: 'ml-1', placeholder: '概要' %>
      <%= f.submit "\uf067", class: "fa btn btn-primary ml-1" %>
    <% end %>
  </div>

  <%= render @lists %>

  <%= paginate @lists %>
</div>