<div class="register-flash"></div>

<div class="container">
  <% if @results.blank? %>
    <h2>検索にヒットする作品はありませんでした。</h2>
  <% else %>
  <div class="row mb-2">
    <div class="col">
      <strong style="font-size: 2em">"<%= @keyword %>"</strong><span>の検索結果: <strong><%= @total_results %></strong>件</span>
    </div>
  </div>
  <div class="row mb-2">
    <div class="col">
      <%= link_to '前の20件', root_path( search: @keyword, page: @page - 1 ), method: :post, class: "btn btn-sm btn-secondary #{ 'disabled' if @page == 1 }", style: 'float:left' %>
      <%= link_to '次の20件', root_path( search: @keyword, page: @page + 1 ), method: :post, class: "btn btn-sm btn-secondary #{ 'disabled' if @page == @total_pages }", style: 'float:right' %>
    </div>
  </div>
    <% @results.each do |movie| %>
      <% title = movie["title"] %>
      <% description = movie["overview"] %>
      <% release_date = movie["release_date"] %>
      <% poster = movie["poster_path"] %>

      <div class="card mb-3 w-100">
        <div class="row">
          <div class="col-4">
            <%= image_tag "https://image.tmdb.org/t/p/w780#{poster}", class: 'card-img' %>
          </div>
          <div class="col-8">
            <div class="card-body">
              <h4 class="card-title"><%= title %></h4>
              <span class="card-text"><small><i><%= release_date %>　公開</i></small></span>
              <p class="card-text"><%= description %></p>
              <%= form_for :movie, url: movies_path, remote: true do |f| %>
                <%= f.collection_select :list_id, @lists, :id, :name %>
                <%= f.hidden_field :title, value: title %>
                <%= f.hidden_field :description, value: description %>
                <%= f.hidden_field :release_date, value: release_date %>
                <%= f.hidden_field :poster, value: poster %>
                <%= f.submit '登録', class: "btn btn-sm btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="row mb-2">
    <div class="col">
      <span>キーワード"<%= @keyword %>" :<strong><%= @total_results %></strong>件が見つかりました</span>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <%= link_to '前の20件', root_path( search: @keyword, page: @page - 1 ), method: :post, class: "btn btn-sm btn-secondary #{ 'disabled' if @page == 1 }", style: 'float:left' %>
      <%= link_to '次の20件', root_path( search: @keyword, page: @page + 1 ), method: :post, class: "btn btn-sm btn-secondary #{ 'disabled' if @page == @total_pages }", style: 'float:right' %>
    </div>
  </div>
</div>