<% if @results.blank? %>
  <h2>検索にヒットする作品はありませんでした。</h2>
  <% else %>
  <% @results.each do |result| %>
  <% title = result["title"] %>
  <% description = result["overview"] %>
  <% release_date = result["release_date"] %>
  <% poster = result["poster_path"] %>

    <h2><%= title %></h2>

    <%= form_for :movie, url: movies_path do |f| %>
      <%= f.collection_select :list_id, @lists, :id, :name %>
      <%= f.hidden_field :title, value: title %>
      <%= f.hidden_field :description, value: description %>
      <%= f.hidden_field :release_date, value: release_date %>
      <%= f.hidden_field :poster, value: poster %>
      <%= f.submit '登録', class: "btn btn-primary" %>
    <% end %>

      <div>
        <%= image_tag "https://image.tmdb.org/t/p/w200#{poster}" %>
      </div>
      <div>
        <p><%= "公開日：#{release_date}" %></p>
        <h4><i><%= "概要：#{description}" %></i></h4>
      </div>
    -----------------------------------
  <% end %>
<% end %>