<div class="register-flash"></div>

<div class="container">
  <% if @results.blank? %>
    <h2>検索にヒットする作品はありませんでした。</h2>
  <% else %>
    <% @results.each do |movie| %>
      <% title = movie["title"] %>
      <% description = movie["overview"] %>
      <% release_date = movie["release_date"] %>
      <% poster = movie["poster_path"] %>

      <div class="card mb-3 w-100">
        <div class="row no-gutters">
          <div class="col-4">
            <%= image_tag "https://image.tmdb.org/t/p/w780#{poster}", class: 'card-img' %>
          </div>
          <div class="col-8">
            <div class="card-body">
              <h4 class="card-title"><%= title %></h4>
              <span class="card-text"><small><i><%= release_date %>　公開</i></small></span>
              <p class="card-text"><font size="1"><%= description %></font></p>
              <%= form_for :movie, url: movies_path, remote: true do |f| %>
                <%= f.collection_select :list_id, @lists, :id, :name %>
                <%= f.hidden_field :title, value: title %>
                <%= f.hidden_field :description, value: description %>
                <%= f.hidden_field :release_date, value: release_date %>
                <%= f.hidden_field :poster, value: poster %>
                <%= f.submit '登録', class: "btn btn-sm btn-primary" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="row">
    <div class="col-6">
      <span><strong><%= @total_results %></strong>件中<strong><%= @results.size %></strong>件を表示中</span>
    </div>
    <div class="col-6 text-right">
      さらに表示する
    </div>
  </div>
</div>