<!DOCTYPE html>
<html>
  <head>
    <title>Venezia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <strong><i><%= link_to 'VENEZIA', root_path %></i></strong>
        <% if user_signed_in? %>
        <strong><%= image_tag "#{current_user.get_bigger_image}" %></strong>
        <strong><%= link_to current_user.name, "#" %></strong>
        <%= link_to 'ログアウト', logout_path, method: :delete %>
      <% else %>
        <%= link_to 'ログイン(Twitter経由)', user_twitter_omniauth_authorize_path %>
        <% end %>
      </nav>
    </header>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

    <footer>
      <div><i>by <%= link_to 'yusperekko', 'https://twitter.com/yusperekko' %></i></div>
    </footer>
  </body>
</html>
